import React from 'react';
import './{{camelCase componentName}}.css'

interface {{pascalCase componentName}}Props{
}

const {{pascalCase componentName}} = (props: {{pascalCase componentName}}Props) => {
    return (
    <div>
       {{pascalCase componentName}}
    </div>
    )
};

export default {{pascalCase componentName}}
